body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.container{
    min-width: 290px;
}

.box-area {
    min-width: 290px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

::placeholder {
    font-size: 16px;
}

.btn {
    background-color: #FC3E24;
    ;
}

.btn:hover{
    background-color: #fc3d24bd;
}

@media only screen and (max-width:768px) {
    .box-area {
        margin: 0 10px;
    }

    .container {
        flex-direction: column;
    }
    
}