/* Font : Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500&family=Montserrat:wght@500&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');


.navbar {
    background-color: #FC3E24;
    padding: 15px 0px;
}

.navbar a{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
}


.navbar-brand, .navbar-nav {
    font-weight: 600;
    letter-spacing: 1.2px;
}

.container-fluid .navbar-brand {
    font-size: 1.6em;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav.mx-auto li{
    margin-right: 30px;
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0s ease, border-radius 0s;
    padding: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
}

.navbar ul:nth-child(2) .nav-link{
    padding: 15px;
}

hr {
    border: 2px solid #fc3d24;
    margin: 5px;
}

@media (max-width: 992px) {
    .navbar-nav .nav-item .nav-link:hover {
        background-color: #ffffff;
    }
    .navbar-nav li a{
        padding-left: 10px;
    }
    .navbar-nav.mx-auto li{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .collapse ul{
        margin-top: 10px;
    }
}

