.card-product img{
    border-radius:20px 20px 0 0; 
    width:190px;
    height:190px;
}

.btn-detail{
    font-size: .5em;
    padding: 10px 14px;
}
.btn-pesan{
    padding: 10px 15px;
    font-size: .7em;
}

h5{
    font-size: 15px
}
h6{
    font-size: .9em
}

.midleinfo {
    justify-content: space-between;
}

.midleinfo h6{
    padding: 10px ;
}


@media only screen and (max-width: 1392px) and (min-width: 992px) {
    .btn-detail {
        font-size: .5em;
        padding: 10px 5px;
    }
    .btn-pesan {
        padding: 10px 5px;
        font-size: .7em;
    }
    .midleinfo {
        align-items: center;
        flex-direction: column-reverse;
    }
    .midleinfo h6{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.card-product {
    width: 12rem; 
    border-radius:20px; 
    min-width: 150px
}


